<div class="container-fluid mx-auto">
<% title = ["Stuff your face, you fat fuck", "Ever heard of vegetables?", "Hungry, yet?", "Too lazy to cook, heh?", "Why cook yourself, am I right?",
"Nobody will come to your neighborhood", "Most of our chefs are not serial killers","We can't promise nobody will try to cook you"]  %>
  <div class="title"><h1><%= title.sample  %></h1></div>

      <div class="card-container d-flex justify-content-between ">
        <%= render "shared/service-cards" %>
    </div>
</div>
