// Import page-specific CSS files here.
@import "home";
@import "show";


.container-fluid {
  align-items: center;
  justify-content: space-between;
  font-family: Open-sans, sans-serif;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.card {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 350px;
  width: 300px;
  margin: 24px;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: black;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-family: montserrat;
  margin-top:10px;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.card-title {
  text-decoration:none;
  color: black;
  font-family: montserrat;
  font-weight: bold;
  font-size: 12px;
  margin-top:10px;
}

// .rating{
//   font-size: 15px;
//   font-family: Arial, Helvetica, sans-serif;
// }
