<h1>Make a new Booking</h1>

<div>
  <%= simple_form_for [@service, @booking] do |f| %>
    <%= f.input :name, placeholder: "Write a name" %>
    <%= f.input :date, as: :string,
        input_html: {
          data: {
            controller: "datepicker"
          }
        } %>
    <%= f.submit class: "btn btn-flat" %>
  <% end %>
</div>
