.card-home {
  width: 30rem;
  background-color: $yellow;
  height: 700px;
  border: 1px solid $gray;
  border-radius: 20px;
  padding: 10px;

  /* Flexbox for vertical Alignment */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-title {
  font-size: 28px;
  // border: solid grey;
  padding: 5px;
  border-radius: 8px;
  // width: 340px;
  text-align: center;
}

.card-text {
  flex-grow: 1;
}
